<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layoutDefault}">

<!-- 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- Page plugins -->
    <link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
</th:block>
<!-- 페이지 고유 CSS 추가 -->

<!-- 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">

    <!-- Optional JS -->
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <!-- Optional JS -->
    <script type="text/javascript">
        $(function () {

            $("#menu70").click();
            $("#bread1").text("닥터멍냥");
            $("#bread2").text("운영 관리");
            $("#bread3").text("푸시 관리");

            $.fnSelect = function(cd){
                $("input[name=selectedCd]").val(cd);
                $("#listForm").attr("action", "/inform/InformSelectUpdtView");
                $("#listForm").submit();
            };

            $.fnResister = function(){
                $("#listForm").attr("action", "/inform/InformInsertView");
                $("#listForm").submit();
            };

            $.fnList = function(){
                $("#listForm").attr("action", "/inform/InformList");
                $("#listForm").submit();
            };

        });
    </script>

    <script  th:inline="javascript">
        /*<![CDATA[*/
        var resultMsg = "[[${resultMsg}]]";
        if (resultMsg.length > 0) alert(resultMsg);
        /*]]>*/
    </script>

</th:block>
<!-- 페이지 고유 스크립트 추가 -->

<div layout:fragment="content">
    <!--시작  -->

    <!-- listForm -->
    <form method="post" name="listForm" id="listForm">
        <input type="hidden" name="selectedCd" id="selectedCd" />
        <input type="hidden" name="checkedCd" />
    </form>
    <!-- listForm -->

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">푸시 관리</h3>
                    <p class="text-sm mb-0">
                        푸시를 관리합니다.
                    </p>
                </div>
                <!-- Card header -->
                <!-- Card Body -->
                <div class="card-body">

                    <div class="table-responsive py-4">
                        <table class="table table-flush" id="datatable-basic">
                            <thead class="thead-light">
                            <tr>
                                <th>번호</th>
                                <th>회원번호</th>
                                <th>알림 제목</th>
                                <th>알림 링크</th>
                                <th>확인 여부</th>
                                <th>활성화</th>
                                <th>등록일시</th>
                                <th>확인일시</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item : ${resultList}" th:attr="onclick=|$.fnSelect('${item.seq}');|">
                                <td th:text="${item.seq}"></td>
                                <td th:text="${item.memberSeq}"></td>
                                <td th:text="${item.informTitle}"></td>
                                <td th:text="${item.informLink}"></td>
                                <td th:text="${item.confirmAt}"></td>
                                <td th:text="${item.chkAt}"></td>
                                <td th:text="${item.insDttm}"></td>
                                <td th:text="${item.confirmDttm}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- Card Body -->
                <!-- Card Footer -->
                <div class="card-footer bg-transparent">
                    <div class="row">
                        <div class="col">
<!--                            <button type="button" class="btn btn-secondary btn-lg">목록가기</button>-->
                        </div>
                        <div class="col text-right">
<!--                            <button type="button" class="btn btn-primary btn-lg" onclick="$.fnResister();">등록하기</button>-->
                        </div>
                    </div>
                </div>
                <!-- Card Footer -->

            </div>
        </div>
    </div>
    <!-- Table -->








    <!-- 끝  -->
</div>

</html>