<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layoutDefault}">

<!-- 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- Page plugins -->
    <link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
</th:block>
<!-- 페이지 고유 CSS 추가 -->

<!-- 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- Optional JS -->
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <!-- Optional JS -->
    <script type="text/javascript">
        $(function () {

            $("#menu70").click();
            $("#bread1").text("닥터멍냥");
            $("#bread2").text("운영 관리");
            $("#bread3").text("배너 관리");

            $.fnInsert = function(form){
                if($("input:checkbox[name=chkAtBox]").is(":checked") == true) {
                    $("input[name=chkAt]").val('1');
                } else {
                    $("input[name=chkAt]").val('0');
                }

                $("#form").submit();
            };

            $.fnList = function(){
                $("#listForm").attr("action", "/banner/BannerList");
                $("#listForm").submit();
            };

        });
    </script>
</th:block>
<!-- 페이지 고유 스크립트 추가 -->

<div layout:fragment="content">
    <!--시작  -->

    <!-- listForm -->
    <form method="post" name="listForm" id="listForm">
        <input type="hidden" name="selectedCd" id="selectedCd" />
    </form>
    <!-- listForm -->

    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <h3 class="mb-0">배너를 등록합니다.</h3>
        </div>
        <!-- Card header -->
        <!-- Card body -->
        <div class="card-body">

            <form method="post" action="#" th:action="@{/banner/BannerInsert}" th:object="${bannerManageVO}" name="form" id="form">

                <div class="form-row">
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="seq">질병코드</label>-->
<!--                            <input type="text" th:field="*{seq}" name="seq" id="seq" placeholder="" class="form-control" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-10 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="bannerTitle">배너 타이틀</label>
                            <input type="text" th:field="*{bannerTitle}" name="bannerTitle" id="bannerTitle" placeholder="" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="bannerImg">배너 이미지</label>
                            <input type="text" th:field="*{bannerImg}" name="bannerImg" id="bannerImg" placeholder="" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="bannerLink">배너 링크</label>
                            <input type="text" th:field="*{bannerLink}" name="bannerTitle" id="bannerLink" placeholder="" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="bannerOrd">배너 순서</label>
                            <input type="text" th:field="*{bannerOrd}" name="bannerOrd" id="bannerOrd" placeholder="" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="chkAtBox">사용여부</label>
                            <div class="mb-3">
                                <label class="custom-toggle">
                                    <input type="hidden" th:field="*{chkAt}" name="chkAt" id="chkAt">
                                    <input type="checkbox" th:checked="${bannerManageVO.chkAt=='1' ? true: false}" name="chkAtBox" id="chkAtBox">
                                    <span class="custom-toggle-slider rounded-circle" data-label-off="중지" data-label-on="사용"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        <!-- Card body -->
        <!-- Card Footer -->
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="$.fnList();">목록가기</button>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary btn-lg" onClick="$.fnInsert(document.forms[0]); return false;">등록하기</button>
                </div>
            </div>
        </div>
        <!-- Card Footer -->
    </div>


    <!-- 끝  -->
</div>

</html>