<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>



<commonCss th:fragment="commonCssFragment">

    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.1.0" type="text/css">
    <!-- 공통으로 쓰이는 css파일을넣는다.-->

    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->

    <!-- 공용 커스텀 CSS -->
    <link rel="stylesheet" href="/assets/css/hplex.css">
    <!-- 공용 커스텀 CSS -->


</commonCss>

</html>