<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<!--config.html은 렌더링 되는 페이지에서 공통으로 사용할 css, script등을 설정한다.-->

<head th:fragment="configFragment">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="닥터멍냥 관리툴">
    <meta name="author" content="Hflex">
    <title>닥터멍냥 ||| 관리툴</title>
    <!-- Favicon -->
    <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">

</head>

</html>