<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<footer th:fragment="footerFragment" class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">

        <div class="col-lg-6">
            <div class="copyright text-center text-lg-left text-muted">
                &copy; 2021 <a href="https://www.h-plex.com" class="font-weight-bold ml-1" target="_blank">H-PLEX</a>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a href="https://www.h-plex.com" class="nav-link" target="_blank">회사소개</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.h-plex.com" class="nav-link" target="_blank">연락하기</a>
                </li>
            </ul>
        </div>

    </div>
</footer>
<!-- Footer -->

</html>