<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layoutDefault}">

<!-- 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- Page plugins -->
    <link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
</th:block>
<!-- 페이지 고유 CSS 추가 -->

<!-- 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- Optional JS -->
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <!-- Optional JS -->
    <script type="text/javascript">
        $(function () {

            $("#menu70").click();
            $("#bread1").text("닥터멍냥");
            $("#bread2").text("운영 관리");
            $("#bread3").text("FAQ 관리");

            var oEditors = [];
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "faqContent",
                sSkinURI: "/se2/SmartEditor2Skin.html",
                fCreator: "createSEditor2",
                htParams : {
                    // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseToolbar : true,
                    // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseVerticalResizer : true,
                    // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseModeChanger : true
                }
            });

            $.fnInsert = function(form){
                if($("input:checkbox[name=chkAtBox]").is(":checked") == true) {
                    $("input[name=chkAt]").val('1');
                } else {
                    $("input[name=chkAt]").val('0');
                }

                oEditors.getById["faqContent"].exec("UPDATE_CONTENTS_FIELD", []);

                $("#form").submit();
            };

            $.fnList = function(){
                $("#listForm").attr("action", "/faq/FaqList");
                $("#listForm").submit();
            };

        });
    </script>
</th:block>
<!-- 페이지 고유 스크립트 추가 -->

<div layout:fragment="content">
    <!--시작  -->

    <!-- listForm -->
    <form method="post" name="listForm" id="listForm">
        <input type="hidden" name="selectedCd" id="selectedCd" />
    </form>
    <!-- listForm -->

    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <h3 class="mb-0">FAQ를 등록합니다.</h3>
        </div>
        <!-- Card header -->
        <!-- Card body -->
        <div class="card-body">

            <form method="post" action="#" th:action="@{/faq/FaqInsert}" th:object="${faqManageVO}" name="form" id="form">

                <div class="form-row">
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="seq">질병코드</label>-->
<!--                            <input type="text" th:field="*{seq}" name="seq" id="seq" placeholder="" class="form-control" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-10 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="faqSubject">제목</label>
                            <input type="text" th:field="*{faqSubject}" name="faqSubject" id="faqSubject" placeholder="" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="faqType">종류</label>
                            <select th:field="*{faqType}" id="faqType" name="faqType" class="form-control">
                                <option th:value="'촬영/검사'" selected>촬영/검사</option>
                                <option th:value="'소변채취'" selected>소변채취</option>
                                <option th:value="'결과확인'" selected>결과확인</option>
                                <option th:value="'리뷰검토'" selected>리뷰검토</option>
                                <option th:value="'발송안내'" selected>발송안내</option>
                                <option th:value="'기타'" selected>기타</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="faqContent">내용</label>
                            <textarea th:field="*{faqContent}" name="faqContent" id="faqContent" rows="5" class="form-control" style="width:100%;"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="faqOrder">순서</label>
                            <input type="text" th:field="*{faqOrder}" name="faqOrder" id="faqOrder" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="chkAtBox">사용여부</label>
                            <div class="mb-3">
                                <label class="custom-toggle">
                                    <input type="hidden" th:field="*{chkAt}" name="chkAt" id="chkAt">
                                    <input type="checkbox" th:checked="${faqManageVO.chkAt=='1' ? true: false}" name="chkAtBox" id="chkAtBox">
                                    <span class="custom-toggle-slider rounded-circle" data-label-off="중지" data-label-on="사용"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="form-row">-->
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="insDttm">등록일시</label>-->
<!--                            <input type="text" th:field="*{insDttm}" name="insDttm" id="insDttm" placeholder="" class="form-control" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="uptDttm">수정일시</label>-->
<!--                            <input type="text" th:field="*{uptDttm}" name="uptDttm" id="uptDttm" placeholder="" class="form-control" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-row">-->
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="insUser">등록자</label>-->
<!--                            <input type="text" th:field="*{insUser}" name="insUser" id="insUser" placeholder="" class="form-control" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="uptUser">수정자</label>-->
<!--                            <input type="text" th:field="*{uptUser}" name="uptUser" id="uptUser" placeholder="" class="form-control" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </form>

        </div>
        <!-- Card body -->
        <!-- Card Footer -->
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="$.fnList();">목록가기</button>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary btn-lg" onClick="$.fnInsert(document.forms[0]); return false;">등록하기</button>
                </div>
            </div>
        </div>
        <!-- Card Footer -->
    </div>


    <!-- 끝  -->
</div>

</html>