<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="25"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.hplex.drdogncatcms.admin.service.AdminManageVO" alias="adminManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.role.service.RoleManageVO" alias="roleManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.checkup.service.ItemManageVO" alias="itemManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.disease.service.DiseaseManageVO" alias="diseaseManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.disease.service.DiseaseRefManageVO" alias="diseaseRefManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.member.service.MemberManageVO" alias="memberManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.mypets.service.MypetsManageVO" alias="mypetsManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.mcheckup.service.CheckupManageVO" alias="checkupManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.mcheckup.service.McheckupManageVO" alias="mcheckupManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.msmt.service.MsmtManageVO" alias="msmtManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.faq.service.FaqManageVO" alias="faqManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.inquiry.service.InquiryManageVO" alias="inquiryManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.inquiry.service.InquiryTypeManageVO" alias="inquiryTypeManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.notice.service.NoticeManageVO" alias="noticeManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.product.service.ProductManageVO" alias="productManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.present.service.PresentManageVO" alias="presentManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.banner.service.BannerManageVO" alias="bannerManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.challenge.service.ChallengeManageVO" alias="challengeManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.mchallenge.service.MchallengeManageVO" alias="mchallengeManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.inform.service.InformManageVO" alias="informManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.common.file.service.FileManageVO" alias="fileManageVO" />
    </typeAliases>
</configuration>