<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="25"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.hplex.drdogncatcms.checkup.service.ItemManageVO" alias="itemManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.disease.service.DiseaseManageVO" alias="diseaseManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.disease.service.DiseaseRefManageVO" alias="diseaseRefManageVO" />
        <typeAlias type="com.hplex.drdogncatcms.member.service.MemberManageVO" alias="memberManageVO" />
    </typeAliases>
</configuration>